//
    Bottom Alert Bar
    ==================================================
.alertbar
    .container.text-center
        span
            img(src='https://www.cloudguide.nl/static/img/logo.svg' height='15px' alt='CloudGuide')
            |  &nbsp; Mis geen enkel 
            b verhaal 
            | en abonneer je op de nieuwsbrief
        form.wj-contact-form.validate(action='https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&id=8c3d2d214b' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
            .mc-field-group
            input#mce-EMAIL.required.email(type='email' placeholder='Email' name='EMAIL' autocomplete='on' required='')
            input.heart(type='submit' value='Abonneer' name='subscribe')
