//
    Bottom Alert Bar
    ==================================================
.alertbar
    .container.text-center
        span
            img(src= config.content.logo height='15px' alt='CloudGuide')
            |  &nbsp; Mis geen enkel 
            b verhaal 
            | en abonneer je op de nieuwsbrief
        form.wj-contact-form.validate(action= config.content.subscriptionUrl method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
            .mc-field-group
            input#mce-EMAIL.required.email(type='email' placeholder='Email' name='EMAIL' autocomplete='on' required='')
            input.heart(type='submit' value='Abonneer' name='subscribe')
