  //
    Categories Jumbotron
    ==================================================
//   
  .jumbotron.fortags
    .d-md-flex.h-100
      .col-md-4.transpdark.align-self-center.text-center.h-100
        .d-md-flex.align-items-center.justify-content-center.h-100
          h2.d-md-block.align-self-center.py-1.font-weight-light
            | Explore 
            span.d-none.d-md-inline &rarr;
      .col-md-8.p-5.align-self-center.text-center
        a.mt-1.mb-1(href='/mediumish-theme-jekyll/categories#Jekyll') Jekyll (14)
        a.mt-1.mb-1(href='/mediumish-theme-jekyll/categories#tutorial') tutorial (12)
        a.mt-1.mb-1(href='/mediumish-theme-jekyll/categories#web-development') web development (1)
  ==================================================

