doctype html
head
  title Cloudguide Blog
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='CloudGuide ondersteunt organisaties bij de transformatie naar een digital first business. Mensen en hun onderlinge samenwerking staan hierin centraal.')
  link(rel='canonical' href='https://www.cloudguide.nl/')
  meta(property='og:locale' content='nl_NL')
  meta(property='og:type' content='blog')
  meta(property='og:title' content='Cloudguide - Accelerate Digital Innovation')
  meta(property='og:description' content='CloudGuide ondersteunt organisaties bij de transformatie naar een digital first business. Mensen en hun onderlinge samenwerking staan hierin centraal.')
  meta(property='og:url' content='https://www.cloudguide.nl/')
  meta(property='og:site_name' content='CloudGuide')


  //link#cloudguide-style-css(rel='stylesheet' href='https://www.cloudguide.nl/wp-content/themes/cloudguide/style.css?ver=1.0.0' media='all')
  link#bootstrap-css(rel='stylesheet' href='https://www.cloudguide.nl/wp-content/themes/cloudguide/static/plugin/bootstrap/css/bootstrap.min.css?ver=6.3.1' media='all')
  link#fontawesome-css(rel='stylesheet' href='https://www.cloudguide.nl/wp-content/themes/cloudguide/static/plugin/font-awesome/css/fontawesome-all.min.css?ver=6.3.1' media='all')
  link#et-line-css(rel='stylesheet' href='https://www.cloudguide.nl/wp-content/themes/cloudguide/static/plugin/et-line/style.css?ver=6.3.1' media='all')
  link#icons-css(rel='stylesheet' href='https://www.cloudguide.nl/wp-content/themes/cloudguide/static/plugin/themify-icons/themify-icons.css?ver=6.3.1' media='all')
  link#owl-css(rel='stylesheet' href='https://www.cloudguide.nl/wp-content/themes/cloudguide/static/plugin/owl-carousel/css/owl.carousel.min.css?ver=6.3.1' media='all')
  link#magnific-css(rel='stylesheet' href='https://www.cloudguide.nl/wp-content/themes/cloudguide/static/plugin/magnific/magnific-popup.css?ver=6.3.1' media='all')
  link#ic-style-css(rel='stylesheet' href='https://www.cloudguide.nl/wp-content/themes/cloudguide/static/css/style.css?ver=6.3.1' media='all')
  link#ic-color-css(rel='stylesheet' href='https://www.cloudguide.nl/wp-content/themes/cloudguide/static/css/color/default.css?ver=6.3.1' media='all')
  script#jquery-core-js(src='https://www.cloudguide.nl/wp-includes/js/jquery/jquery.min.js?ver=3.7.0')
// Header
header.fixed-header
  nav.navbar.header-nav.navbar-expand-lg
    .container.container-large
      // Brand
      a.navbar-brand(href='#')
        img.light-logo(src='https://www.cloudguide.nl/static/img/logo-light.svg' title='' alt='')
        img.dark-logo(src='https://www.cloudguide.nl/static/img/logo.svg' title='' alt='')
      // Top Menu
      #navbar.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav.ml-auto.align-items-center
          li
            a.nav-link(href='https://www.cloudguide.nl/#home') Home
          li
            a.nav-link(href='https://www.cloudguide.nl/#partners') Partners
          li
            a.nav-link(href='https://www.cloudguide.nl/#about') Over
          li
            a.nav-link(href='https://www.cloudguide.nl/#diensten') Oplossingen
          li
            a.nav-link(href='https://www.cloudguide.nl/#klanten') Klanten
          li
            a.nav-link(href='https://www.cloudguide.nl/#nieuws') Nieuws
          li
            a.nav-link(href='mailto:info@cloudguide.nl') Contact
          li
            a.nav-link.active(href='/') Blog
main
  // Home Banner
  section#home.home-section.theme-main.home-banner
    .container.container-large
      .row.align-items-center.full-screen.p-100px-tb.sm-p-30px-b.pt-0
        .col-lg-12.sm-p-0px-t.sm-p-30px-b.text-center
          h1 CloudGuide Blog
  section#partners.section.gray-bg.pt-0
    .container
      .row.m-45px-b.md-m-25px-b.justify-content-center
        .col-md-10.col-lg-8
          .section-title.text-left
            block content