footer.footer
  .container
    .row
      .col-md-6.col-sm-6.text-center.text-lg-left
          | Copyright &copy; 2023 Koen Bonnet
      .col-md-6.col-sm-6.text-center.text-lg-right
          a(target='_blank' href='https://www.wowthemes.net/mediumish-free-jekyll-template/') Mediumish Jekyll Theme
          |  by WowThemes.net | Notion content by 
          a(target="_blank" href="https://github.com/goodgrid/notion-blog-publisher") Goodgrid's Notion Blog Publisher
