//
  Begin Menu Navigation
  ==================================================
nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top.mediumnavigation.nav-down
  .container.pr-0
    // Begin Logo
    a.navbar-brand(href='/mediumish-theme-jekyll/')
      img(src='https://www.cloudguide.nl/static/img/logo.svg' alt='Mediumish')
    // End Logo
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarMediumish' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarMediumish.collapse.navbar-collapse
      // Begin Menu
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/') Blog home
        li.nav-item
          a.nav-link(href='https://www.cloudguide.nl') Corporate site
      // End Menu
//
  End Navigation
  ==================================================
